.singlePlaylistContent{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000c7;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
  }

  .singlePlaylistHeader {
    min-height: 40px;
    max-height: 40px;
}

.imgPlaying {
    height: 36px;
    width: 36px;
}

.singlePlaylistBody {
    flex: 1;
    overflow-y: auto;
    z-index: 2;
}

.singlePlaylistBody h1 {
    font-size: 60px;
}
.track {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.track__left {
    display: flex;
    align-items: center;
}

.track__left > svg {
    font-size: 36px;
    margin-right: 16px;
}

.track.active {
    color: green;
    font-weight: bold;
}

.track__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 173px;
    min-width: 173px;
}

.singlePlaylistFooter {
    height: 70px;
    z-index: 2;
}

.player__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.overlay-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000a8;
    left: 0;
    top: 0;
}