
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row__poster {
    object-fit: contain;
    width: 100%;
    max-width: 140px;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 450ms;
    cursor: pointer;
    filter: brightness(0.9);
  }
  
  .row__poster:hover {
    transform: scale(1.1);
    filter: none;
  }

.row__posters::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

.row__posters:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.row__posters:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.row__posters:hover::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}