body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.logo {
  color: #000;
  max-width: 100%;
}

html,
body,
#root,
.App,
.playlists {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.playlists {
  display: flex;
  overflow: hidden;
}

.playlists__aside {
  display: none;
  flex: 0.2;
  min-width: 230px;
  font-size: 1.6em;
  background-color: #040404;
  height: 100vh;
  flex-direction: column;
  max-width: 300px;
}

@media screen and (min-width: 500px) {
  .playlists__aside {
    display: flex;
  }
}

.playlists__body {
  flex-basis: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-image: linear-gradient(169deg, #898989 0%, #000000 100%);
  overflow-y: scroll;
}

.playlists__body > .container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playlists__aside--align-top {
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (min-width: 500px) {
  .album-infos__img {
    flex-basis: 230px;
  }
  .album-infos__title {
    font-size: 40px;
  }
}


.album-infos__label {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}

.album-infos__description {
  font-size: 14px;
  margin: 0;
}

.playlists__content {
  flex: 1;
  overflow-x: hidden;
}

.header playlists__header {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #121212;
}

.icon {
  font-size: 24px;
}

.playlists__header-icon {
  color: #1DB954;
  padding: 4px;
}
.playlist__help {
  display: flex;
  align-items: center;
}
.playlist__help small {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s all ease;
}
.playlists__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.playlists__aside-action-list {
  color: #b3b3b3;
  background-color: #040404;
  padding: 8px 4px;
  text-align: left;
}

.playlists__aside-action-list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  cursor: default;
}

.playlists__aside-action-list-item--selected {
  background-color: #282828;
}

.icon-label-block > .icon {
  margin-right: 8px;
}
.logo__container {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
  margin-top: 24px;
  align-items: center;
}

.logo {
  color: white;
  width: 70%;
}

.aside__playlist-actions {
  margin-bottom: 16px;
  margin-top: 16px;
}

.aside__playlist-actions-item {
    padding: 8px;
    color: #4CAF50;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.aside__playlists-actions-item:hover {
  color: white;
}

.playlists__aside {
  color: #b3b3b3;
  background-color: #040404;
  padding: 8px 4px;
  text-align: left;
  flex: 0.2;
}

.user__name {
  display: none;
}
@media screen and (min-width: 500px) {
  .user {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #1a1921;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-left: 2px;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
  .user__name {
    display: block;
  }
}

.user__avatar {
  width: 26px;
  height: 26px;
  background: gray;
  border-radius: 50%;
  overflow: hidden;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-width: 140px;
  border-radius: 4px;
  margin-right: 10px;
  transition: all 450ms;
  cursor: pointer;
  filter: brightness(0.9);
}

.row__poster:hover {
  transform: scale(1.1);
  filter: none;
}
